
.backgroundimage-on-temple {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .background-content-style {
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
  }
  .aboutus-head {
    text-align: justify;
    color: #000000;
    font-family: auto;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .aboutus-para {
    text-align: justify;
    color: #000000;
    font-family: auto;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  