.admin-login1-bg{
    background-image: url("../../Images/sivaagod.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9% 20%;
}
.admin-login1-validation{
    background-color:  rgba(187, 187, 187, 0.533);
    border-radius: 25px;
    padding: 5%;
}
.admin-login1-head{
    font-size: 45px;
    padding-bottom: 20px;
    text-align: center;
}
.mainAdminLogin1 .form-control{
    line-height: 1.9!important;
    border: none !important;
       outline: none !important;   
   }
   .adminLoginButton{
       padding: 0% 32%;
    outline: none !important;
}
.forget-input2 {
    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 3%;
    border: none !important;
    outline: none !important;
}
.admin-login-input2{
    border-radius: 15px 0px 0px 15px ;
    border: none !important;
    outline: none !important;
    width: 91%;
    height: 50px;
    font-size: 20px;
    padding: 3%;
}
.admin-login-eyeicon{
    border-radius:0px 15px 15px 0px !important;
}
.ad-login-forpwd{
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.admin-login-button{
    background-color: rgba(187, 187, 184, 0.49);
    border-radius: 10px;
    width: 100%;
    font-size: 22px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 4px rgb(0, 0,0,0.25);
}
@media  (min-width: 320px) and (max-width: 570px) {
    // .admin-login-bg{
    //     padding: 5%;
    // }
}
