.mainbranch {
  padding: 6%;
}

.maintable {
  background-color: #d6e8ec;
  border-radius: 15px;
  
}

.firstrow {
  display: flex;
  padding: 1%;
  justify-content: space-between;
  padding-left: 5%;
  background-color: grey;
  margin-bottom: 5px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.searchinput {
  width: 50%;
  border-radius: 10px;
  height: 45px;
  border: none;
  outline: none;
}

.searchinput::placeholder {
  color: black !important;
  padding-left: 2%;
  font-size: 14px !important;
}

.searchButton {
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  padding-left: 3%;
  padding-right: 2%;
}

.areaList .ant-table-thead > tr > th {
  background-color: grey;
  color: white;
    font-size: 18px;
}

.areaList .ant-table-tbody > tr > td {
  background-color: rgb(214, 232, 236);
  font-weight: 500;
}
.areaList .ant-table-pagination {
  display: none;
}
.ModelView{
  display: flex;
  flex-direction: column;
}
.areaModalInput{
  border: 1px solid rgb(182, 180, 180) ;
  height: 38px;
  border-radius: 5px;
  outline: none;
}
.firstInput{
  font-weight: 600;
}
.mainModal .ant-modal-close-x {
  display: none;
}
.mainModal .ant-modal-header{
  background: #6e7f8e36;
  }
.mainModal .ant-modal-title{
 font-weight: 700;
  font-size: 20px;
  
}

.mainModal .ant-modal-body{
  background-color: #ECF3F6 ;
}
.mainModal .ant-modal-footer{
  background-color: #ECF3F6 ;
}
.savebutton{
  background-color: #6e7f8e77 ;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 1px -1px 2px 1px;
  margin-right: 15px;
  padding: 1% 4%; 
}
.Cancelbutton{
  background-color: #6e7f8e2f ;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 1px -1px 2px 1px;
  
}
@media (min-width:320px) and (max-width:992px) {
  .areaList{
    width: 90% !important;
  }
  
}