.city-list-top {
  width: 100%;
  background-color: #7891a3;
  border-radius: 15px 15px 0 0px;
  display: flex;
  justify-content: space-between;
}
.city-list-search {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.city-list-button {
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  outline: none;
}
.city-list-table table > thead > tr > th {
  background-color: #7891a3 !important;
  color: white;
  font-weight: bold;
}
.city-list-table tbody > tr > td {
  background-color: #d9e2e9;
  font-weight: bold;
}
.ant-pagination {
  display: none !important;
}

//    model
.city-list-model {
  border-radius: 15px !important;
  margin-top: 10%;
}
.city-list-model-header {
  background-color: #9bb2c2;
}
.city-list-model-body {
  background-color: #d9e2e9;
}
.city-list-model-footer {
  gap: 1.5rem;
}
.citylist-model-btn {
  border: none;
  border-radius: 8px;
  background-color: #b8c7d3;
  padding: 1.5% 3%;
  font-weight: bold;
}
.citylist-model-btn:hover {
  background-color: #9bb2c2;
}
.city-modal-feild {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  min-height: 38px;
  width: 100%;
  outline: 0 !important;
}
