.form-background-1{
    background-color: #ECF3F6;
    border-radius: 10px;
}

.header-style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.font-title{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.blog-button-1{
    width: 90px;
    height: 28px;
    background-color: #6E7F8E !important;
}
.field-style-1{
    border-radius: 8px !important;        
}
.field-style-2{
padding: 0% 10%;
}
