
.Searchbox{
         width: 75%;
         border-radius: 10px;
        border: none;
     }
.addbutton{      
         border-radius: 10px;
         border: none;
              
       }
     .headdingbox{
        background-color: #6E7F8E;
          border-radius:15px 15px 0 0;
          display: flex;
          justify-content: space-between;     
     }
     tbody > tr  , .maintable{
        background-color: #ECF3F6;
        border-radius:15px 15px 0 0;
        font-weight:bold;
     
        text-align: center;
      }
      .ant-table-thead > tr > th {
        background-color: #6E7F8E;
        color: white;
        font-size: 20px;
       text-align: center;
    }


   .ant-pagination{
    display: none !important;
   }
   .district-title{
    justify-content: center;
    background-color: #6e7f8e88 ;
    border-radius:10px 10px 0 0 !important;
   }
   .district-model{
    border-radius: 10px;
   }
   .district-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4a8cce;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .district-save{
    background-color: #6e7f8e88;
    border-radius: 7px;
    border: 1px solid #6e7f8e;
   }
   .district-cancel{
    background-color: #6e7f8e88;
    border-radius: 7px;
    border: 1px solid #6e7f8e;
   }
   .modal-button{
    display: flex;
    justify-content: end;
   }
   .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ECF3F6 !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: 10px !important;
    outline: 0;
   }