body {
  background-size: cover;
  background-repeat: no-repeat;
}
.full-content {
  margin-top: 6%;
}
.errorcontent-title,
.error-subcontent {
  color: rgba(194, 15, 15, 0.955);
}
.error-content,
.error-subcontent,
.error-status {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1020px) {
  .buttons {
    margin-left: 41%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .buttons {
    margin-left: 34%;
  }
}
