.festival-main {
  margin: 0 25%;
  padding: 5% 0;
}
.festival-header {
  padding-top: 4%;
  margin-left: 3%;
  font-weight: bold;
}
.festival-top {
  width: 100%;
  background-color: #7891a3;
  border-radius: 15px 15px 0 0px;
  display: flex;
  justify-content: space-between;
}
.festival-search {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.festival-button {
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  outline: none;
}
.festival-table table > thead > tr > th {
  background-color: #7891a3 !important;
  color: white;
  font-weight: bold;
  text-align: center;
}
.festival-table tbody > tr > td {
  background-color: #d9e2e9;
  font-weight: bold;
  text-align: center;
}
.festival-table {
  overflow-x: scroll;
}
@media (min-width: 320px) and (max-width: 570px) {
  .festival-main {
    margin: 0;
    padding: 15% 0;
  }
  .festival-search {
    width: 60%;
  }
  .festival-button {
    width: 91px;
  }
}

//    model
.festival-model {
  border-radius: 15px !important;
  margin-top: 10%;
}
.festival-model-header {
  background-color: #9bb2c2;
}
.festival-model-body {
  background-color: #d9e2e9;
}
.festival-model-footer {
  gap: 1.5rem;
}
.festival-model-btn {
  border: none;
  border-radius: 8px;
  background-color: #b8c7d3;
  padding: 1.5% 3%;
  font-weight: bold;
}
.festival-model-btn:hover {
  background-color: #9bb2c2;
}
.festival-modal-feild {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  min-height: 38px;
  width: 100%;
  outline: 0 !important;
}
