@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.footer-bg h3 {
  padding-bottom: 2vh;
  color: white;
  font-weight: 700;
}
.footer-bg {
  padding-top: 5vh;
  position: relative;
  background-image: url("../.././Images/footershiva2.jpg");
  color: white;
  width: 100%;
  height: auto;
  background-size: 100% 100%;
}
.footer-content {
  display: flex;
  position: relative;
  z-index: 2;
  color: white;
  justify-content: center;
  //   text-align: center;
  flex-direction: row;
}
.footer-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(79, 79, 154, 0.65);
  z-index: 1;
}
.about-us-div img {
  width: 7vh;
  height: 4vh;
  margin-top: -1vh;
}
.about-us-div a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 3vh !important;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  width: 6vh;
  height: 6vh;
  font-size: 23px;
  padding-top: 0.5vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  padding-bottom: 1vh;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}
.about-us-div a:hover {
  color: rgba(79, 79, 154, 0.65);
  background-color: white;
}
.final-footer-ptag {
  margin-left: 18vh;
}
.privacy-policy {
  padding-left: 6vh;
}
.final-footer {
  position: relative;
  z-index: 2;
  color: white;
}
.subscribe-div input {
  width: 36vh;
  height: 6vh;
  border-radius: 6px;
  border: none;
}
.Footeremail-input {
  margin-top: 3vh;
  color: black;
  padding-left: 10px;
}
.Footeremail-input1 {
  color: black;
  padding-left: 10px;
}
.sub-btn-div {
  margin-top: 3vh;
  //   margin-left: -20vh;
}
.sub-btn-div button {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  height: 6vh;
  padding-left: 3vh;
  padding-right: 3vh;
  :hover {
    color: rgba(159, 199, 150, 0.6) !important;
    background-color: white;
  }
}
.subscribe-div img {
  width: 8vh;
  height: 5vh;
  border-radius: 8px;
  //   margin-left: -6vh;
}
.final-footer img {
  width: 8vh;
  height: 5vh;
  border-radius: 8px;
}
// .sub-btn-div Button:hover{
//    color:rgba(63, 43, 125, 0.6) !important;
//     background-color: white;
// }
@media (max-width: 767px) {
  .footer-content {
    background-color: red !important; // Test if this applies
    display: flex;
    flex-direction: column !important;
  }
}
