@mixin ActiveLink($isActive: false) {
  @media (min-width: 992px) {
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0%;

      @if ($isActive) {
        width: 100%;
      } @else {
        width: 0%;
      }

      height: 2px;
      background-color: var(--dark-primary);
      transition: width 0.3s ease-in;
    }
  }
}

.headerNav {
  background-color: #fff;
  padding: 0px 0 !important;
  height: 80px;

  &__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    font-family: var(--secondary-font);
  }

  .nav-link {
    font-weight: 500;
    color: #000 !important;
    position: relative;
    font-size: 1rem;

    @include ActiveLink();

    &:hover::after {
      width: 100%;
    }

    @media (min-width: 992px) {
      margin-inline: 10px;
    }

    a {
      text-decoration: none;
      color: #000;

      &.active {
        font-weight: bold;
        @include ActiveLink(true);
      }
    }
  }

  .dropdown-item {
    position: relative;
    @include ActiveLink();

    &:hover::after {
      width: 100%;
    }

    a {
      text-decoration: none;
      color: #000;

      &.active {
        font-weight: bold;
        @include ActiveLink(true);
      }
    }
  }
}

.custom-darshan-service-dropdown .dropdown-item,
.custom-vendor-service-dropdown .dropdown-item {
  display: block;
  padding: 10px 20px;
}

.custom-darshan-service-dropdown .dropdown-item a,
.custom-vendor-service-dropdown .dropdown-item a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.custom-darshan-service-dropdown .dropdown-item a:hover,
.custom-vendor-service-dropdown .dropdown-item a:hover {
  background-color: #343a40;
  color: #fff;
}

.custom-darshan-service-dropdown .dropdown-menu,
.custom-vendor-service-dropdown .dropdown-menu {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
}

.custom-darshan-service-dropdown .dropdown-item,
.custom-vendor-service-dropdown .dropdown-item {
  color: #343a40;
  font-weight: 600;
  padding: 10px 20px;

  &:hover {
    background-color: #343a40;
    color: #fff;
  }
}
