.home-1 {
    background-image: url("../../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    width: 100% !important;
    min-height: 70vh;
    position: relative;
    background-position: center;
  }
  .event-background {
    background-color: rgb(191, 209, 218);
  }
  .event-card {
    width: 25%;
    height: 35px;
  }
  .home-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 480px;
  }
  @media (min-width: 320px) and (max-width: 570px) {
    .home-img {
      height: 280px;
    }
  }
  @media (min-width: 571px) and (max-width: 768px) {
    .home-img {
      height: 300px;
    }
  }
  @media (min-width: 768px) and (max-width: 968px) {
    .home-img {
      height: 380px;
    }
  }
  .option-button {
    background-color: rgb(169, 231, 241);
    border-radius: 7px;
    font-size: 14px;
  }
  .text-color {
    color: rgb(163, 241, 241);
  }
  .calender-text {
    display: flex;
    justify-content: end;
  }
  
  @media (min-width: 320px) and (max-width: 768px) {
    .calender-text {
      display: flex;
      justify-content: center !important;
    }
  
  }
  