.MainDashboard {
  background-color: #674343;
  height: 90vh;
  padding: 5%;
  color: white;
}

.editIcon {
  padding: 0% !important;
  margin: 0% !important;
  box-shadow: none !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  margin-top: 25px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

:root {
  --bs-secondary-rgb: none !important;
}

.MainDashboard p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  margin-top: 40px;
}

.secondCol {
  width: 70%;
  height: 80vh;
  background-color: #674343;
  border-radius: 10px;
}

::placeholder {
  color: rgb(192, 192, 192) !important;
}

.searchbar {
  width: 100%;
  background-color: black;
}

.Addbar {
  width: 20%;
}

.ThirdRow {
  background-color: #674343;
  width: 100%;
}

textarea {
  touch-action: manipulation;
  border-radius: 24px !important;
  width: 100% !important;
}

.Rows {
  padding: 2%;
}

.Rows1 {
  padding: 2%;
  padding-left: 9%;
}

.searchContent {
  background-color: #674343;
  padding: 2%;
}

.form-control {
  border-radius: 5px !important;
}

.mainsecondCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainsecondContent {
  margin-left: 15%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .mainsecondContent {
    margin-left: 0%;
  }
  .secondCol {
    width: 100%;
    height: 100vh;
    background-color: #674343;
    border-radius: 10px;
  }
}

.icons {
  display: flex;
  justify-content: space-around;
}

.icons button {
  border: none;
  background-color: #674343;
  box-shadow: 1px 1px 5px;
  border-radius: 5px;
}
.UseDashboard {
  padding: 5% 10%;
}

.festivaltitle,
.maingodstitle {
  font-weight: 700;
  font-size: 30px;
}
.secondRow {
  display: flex;
  justify-content: space-around;
  border-color: rgb(19, 18, 18);
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #674343;
  font-weight: 600;
  padding: 30px;
  border-radius: 15px;
  border: 3px solid #674343;
}
.secondRowCard {
  width: 100%;
  border-radius: 20px !important;
  box-shadow: 0px -2px 2px #674343;
  text-align: center;
  margin: 2%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
}
.thirdRow {
  display: flex;
  justify-content: space-around;
  border: 3px solid #674343;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 600;
  padding: 30px;
  border-radius: 15px;
}
.thirdRowCard {
  width: 100%;
  border-radius: 20px !important;
  box-shadow: 0px 4px 4px 0px #674343;
  text-align: center;
  margin: 2%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  padding: 30px;
}
.temple {
  font-weight: 600;
}

.cards {
  margin-left: 2%;
  border-radius: 30px;
  height: 160px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(
  //   rgb(140 162 63 / 49%),
  //   #a2971a8f,
  //   rgb(140 162 63 / 49%)
  // );
  background-image: linear-gradient(
    #aecae4,
    #005C78,
    #aecae4
  );

  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
}
.dashboard-search {
  margin-top: 50px !important;
}
.cardcont {
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: white;
}
.cardicon {
  font-size: 38px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: #6e7f8e;
}
.cardcount {
  font-size: 20px;
  text-align: center;
}
.templetext {
  float: left;
  width: 50%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cards1,
  .cards2,
  .cards4,
  .cards5 {
    margin-left: 1%;
  }
}
