.main {
  width: 250px;
  height: 100%;
  background-color: rgb(102, 105, 105);
  overflow-y: scroll;
  position: fixed;
  cursor: pointer;
  }
.main1 {
  width: 250px;
  height: 100%;
  background-color: rgb(102, 105, 105);
  overflow-y: scroll;
  position: fixed;
  cursor: pointer;
    // z-index: 1;
}
.main::-webkit-scrollbar {
  display: none;
}
 
.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  margin-top: 50px;
}
.sidebarContent {
  color: rgb(255, 255, 255);
  margin-left: 5px;
}
.mainSidebar {
  display: flex;
  flex-direction: row;
  padding: 11%;
}

.sidebar-navlist .mainSidebar:hover {
  transform: scale(1);
  background-color: rgb(136, 136, 136);
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 992px) {
  .main {
    width: 60px;
    height: 100%;
    background-color: rgb(102, 105, 105);
    position: fixed;
  }

  .sidebarClose {
    width: 250px;
    height: 100%;
    background-color: rgb(102, 105, 105);
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
  }
  .sidebarClose::-webkit-scrollbar {
    display: none;
  }

  .menuIcon {
    margin-top: 20%;
    margin-left: 18px;
  }
  .menuIcon:hover {
    transform: scale(1.08);
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
    cursor: pointer;
  }

  .menuIcon2 {
    margin-top: 25%;
    margin-left: 15px;
    color: rgb(0, 0, 0);
  }

  .menuIcon2:hover {
    transform: scale(1.08);
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
  }
  .sidebar-navlist .mainSidebar {
    padding: 23%;
    justify-content: center;
  }
  .mainSidebarshown {
    display: flex;
    padding: 4%;
    align-items: center;
    color: white;
  }

  .sidebar-navlist .mainSidebarshown:hover {
    transform: scale(1);
    background-color: rgb(136, 136, 136);
    border-radius: 5px;
  }

  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}

.sidebar-navlist {
  display: block !important;
}
.sidebar-navlist a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.sidebar-navlist .active {
  background-color: rgb(102, 105, 105);
  border-bottom: none;
}
