.searchModal {
  .modal {
    &-title {
      font-family: var(--secondary-font);
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  .primeSelect {
    width: 100%;
  }

  label {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
  }

  input,
  select,
  textarea {
    outline: none !important;
    box-shadow: none !important;
    padding: 0.75rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 6px;

    &::placeholder {
      color: #6c757d;
    }
  }
}

.p-dropdown-panel {
  z-index: 9999999 !important;
}
