.HomePageCardContainer {
    width: 100%;
    height: auto;
    // background-color: white;
  }
  .HomePagePicture {
    width: 100%;
    height: 210px;
    border-radius: 15px;
  }
  .homePageCard {
    margin: 8px;
    padding-bottom: 10px;
  }
  .HomePageCardRow {
    padding: 0px 35px;
    background-color: rgb(255 233 236 / 35%);
    border-radius: 20px;
  }
  .h4_homepage {
    font-size: 28px;
    color: #0f294d;
    letter-spacing: 0;
    line-height: 34px;
    font-weight: 700;
    position: relative;
    left: 14px;
  }
  .payment_homepages {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
    .icons_view {
      background-image: url(../../../Assets/bb.webp);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
      margin-right: 8px;
      flex-shrink: 0;
    }
    .p_tag_homepage {
      color: #0f294d;
      font-size: 14px;
      font-weight: 500;
    }
    .icons_views {
      background-image: url(../../../Assets/bb1.webp);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-size: 100% 100%;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }
  .roomBooking_Icon{
    font-size: 25px;
  }
  .hotelBooking_heading_css{
    display: flex;
    text-align: center;
    
  }
  .BookingNow_btnDiv{
    background-color: #00429b;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    margin-top: 10px;


  }
  .BookingNow_btnDiv:hover{
    background-color: #00429b;
    color: white;


  }
  .btn_forMyself{
    background-color: #198755;
    color: #ffffff;
    border-radius: 5px;
    
  }
  .btn_forMyself:hover{
    background-color: #198755;
    color: #ffffff;
    border: 1px solid #198755;
    
  }
  .btn_forSomeoneelese{
    background-color: #0D6EFD;
    color: #ffffff;
    border-radius: 5px;
  }
  .btn_forSomeoneelese:hover{
    background-color: #0D6EFD;
    color: #ffffff;
    border-radius: 5px;
  }
  .HomeHotelExploreImg {
    background: url(../../../Assets/bluecolo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 320px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .HomeHotelExploreImg_2 {
    background: url(../../../Assets/swimingPool.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 320px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .HomeHotelExplore_Para {
    font-size: 18px;
    font-weight: bolder;
    color: white;
  }
  .HomeHotelExplore_GoNowBtn {
    background-color: #3264ff;
    border: none;
    color: white;
    font-weight: 600;
    width: 100%;
  }
  .HomePageCardRow1 {
    padding: 0px 35px;
    background-color: rgb(122 226 211 / 12%);
    border-radius: 20px;
    height: auto !important;
  }
  :hover.HomeHotelExplore_GoNowBtn {
    background-color: #1b48d2;
    color: white !important;
  }
  .rating-leaf {
    margin: 5px 0px;
    background: #00429b;
    border-radius: 11px 0 11px 11px;
    padding: 1px 6px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    width: max-content;
  }
  .tourPackageReviewContainer {
    display: flex;
    align-items: center;
    color: #00429b;
    font-weight: 500;
  }
  .backgroundImage_tekkingImage {
    background-image: url(../../../Assets/summa.jpeg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
  }
  .Home_tekkingImage_title {
    padding-top: 30px;
    font-weight: bold;
    font-size: 29px;
    position: relative;
  }
  .Home_tekkingImage_title:after {
    position: absolute;
    left: 0px;
    bottom: -14px;
    background-image: url(../../../Assets/tekkinglogo.png);
    content: "";
    width: 175px;
    height: 15px;
  }
  
  // tekkingCard
  .Home_tekkingContainer_Card {
    // position: relative;
    width: 90%;
    height: auto;
    // padding-left: 20px;
    // padding-right: 20px;
    display: inline-block;
    overflow: hidden;
    // padding-top: 20px;
    border-radius: 8px;
    // margin: 30px 0px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.88) 31%,
      rgba(244, 244, 244, 0.88) 34%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .Owl_carsouel_image {
    // display: block;
    width: 90%;
    border-radius: 8px;
    height: 70px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .TourReviewerName {
    font-size: 15px;
    font-weight: 720;
  }
  .homeCardFontClass {
    font-size: 18px;
    font-weight: 450;
  }
  .tekking_CenterHeading {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: relative;
    margin-top: 70px;
  }
  .tekking_CenterHeading:after {
    position: absolute;
    left: 670px;
    bottom: -14px;
    background-image: url(../../../Assets/tekking_CenterHeadingWhite.png);
    content: "";
    width: 175px;
    margin-top: 20px;
    height: 15px;
  }
  .homePageMailInput {
    background-color: white;
    width: max-content;
    padding: 6px 10px;
    border-radius: 30px;
  }
  .homePageInput {
    border: none;
    height: 30px;
  }
  .homePageInput:hover {
    border: none;
  }
 
  