.aboutUsPage {
  height:100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.888), transparent),
    url("./temp.jpeg") center 10vh no-repeat;
    // background-position-y: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 80vh;

  padding: 8rem 0;

  &__title {
    color: var(--light-shade);
    font-size: 3rem;
    font-family: var(--secondary-font);
    font-weight: 700;
  }

  &__content {
    margin-top: 1.5rem;
    color: var(--light-shade);
    opacity: 0.9;

    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 400;
  }
}
.aboutUsReigerButton{
  background-color: var(--dark-primary);
  padding: 10px 15px;
}
.AboutUsIyerImage{
  width: 90%;
  height: 390px;
  border-radius: 5px;
}
.AboutUsIyerImage:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.AboutusIyerHeading{
  font-size: 26px;
  font-weight: bolder;
}
.carded-1 {
  background: #dfdfdf;
  height: 100%;
  max-width: 25em;
  border-radius: 0.6em;
  padding: 10px;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25),
    0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  flex-wrap: wrap;
}

.carded-1:hover {
  transform: scale(1.1);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  background-color: rgba(165, 160, 160, 0.397);
  h2,
  p,
  .nice {
    color: rgb(14, 12, 12) !important;
  }
  // .hoverLink {
  //   // color: #222;
  //   // font-size: 16px !important;
  // }
}

.carded-1 h2 {
  text-align: center;
  color: #222;
  margin-top: -0.2em;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: 600;
  // font-family: "Montserrat", sans-serif;
  transition: all ease-in 100ms;
}

.carded-1 p {
  color: #777;
  font-family: inherit;
  font-weight: 400;
}

.carded-1 h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}

.card-bodyss{
  padding: 1.2em;
   margin-top: -15px;
}

.lower-register .hoverLink {
  margin-top: 70px; /* Adjust the value as needed */
}

.first-card-register {
  margin-top: 70px; 
}

.carded-6 .hoverLink {
  margin-top: 90px; /* Adjust the value as needed to move it down */
}

.carded-0 .hoverLink {
  margin-top: 20px;
}

.carded-2 .hoverLink {
  margin-top: 30px;
}

.carded-3 .hoverLink {
  margin-top:25px;
}
