@use "../../../styles/globals" as *;

@mixin navLink($color: var(--secondary-color)) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.3s ease-in;

  span:last-of-type {
    svg {
      font-size: 1.2rem;
      transition: transform 0.5s ease-in-out;
    }
  }

  &:hover {
    color: $color;

    span:last-of-type {
      svg {
        transform: translateX(10px);
      }
    }
  }
}

.dashboard {
  background-color: var(--light-shade);
  --sidebarWidth: 280px;

  &.openSidebar {
    .dashboard {
      &__sidebar {
        left: 0px;
        transition: left 0.6s ease-in;
      }

      &__view {
        margin-left: var(--sidebarWidth);
        padding-left: 35px;
        padding-right: 35px;
        transition: margin-left 0.5s ease-in;
      }
    }
  }

  &__headerNav {
    height: 60px;
    background-color: #005C78 !important;
    width: 100vw;
    border-bottom: 1px solid silver;
    padding: 0px 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 10;

    &--container {
      min-height: 100%;
      display: flex;
      align-items: center;
      color: #fff;
      // padding-inline: 2rem;

      .navMenu {
        font-size: 1.8rem;
        cursor: pointer;
      }

      .logo {
        font-size: 2rem;
        font-weight: bold;
        font-family: var(--secondary-font);
        margin-left: 5rem;
        cursor: pointer;
      }
    }
  }

  &__sidebar {
    position: fixed;
    top: 60px;
    left: calc(var(--sidebarWidth) - 800px);
    width: var(--sidebarWidth);
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
    transition: left 1s ease-in-out;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: var(--light-shade);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--dark-primary) !important;
    }

    .sidebar {
      padding-bottom: 4rem;

      .accordion {
        &-item {
          margin-bottom: 1px;
        }

        button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          span {
            display: block;
            // flex: 2;

            &:first-of-type {
              flex: 2;
            }

            &:last-of-type {
              flex: 1;
              text-align: end;
            }
          }

          &:focus {
            box-shadow: none;
            border: none;
            outline: none;
          }

          &::after {
            background-image: none;
            display: none;
          }
        }

        &-body {
          background-color: var(--light-shade);
        }
      }

      &__menu,
      .accordion-header button {
        font-size: 1.1rem;
        font-weight: 600;
        background-color: #006989 !important;
        color: #fff;
        line-height: 1.7;

        font-family: var(--secondary-font);
        box-shadow: 0 0 5px silver;

        span:first-of-type {
          svg {
            vertical-align: text-top;
            margin-top: 4px;
          }
        }
      }

      &__menu {
        padding: 1rem 1.25rem;
        margin-bottom: 0;
        margin-bottom: 1px;

        a {
          color: #fff;
          text-decoration: none;

          @include navLink(var(--light-shade));
        }
      }

      &__subMenu {
        a {
          font-size: 0.95rem;
          text-decoration: none;
          // color: var(--secondary-color);
          color: #000;
          font-weight: 600;
          font-family: var(--secondary-font);

          @include navLink(var(--secondary-color));
        }

        &:not(:first-of-type) {
          margin-top: 1rem;
        }
      }
    }
  }

  &__view {
    margin-left: 0;
    padding-inline: 2rem;
    min-height: 100vh;
    transition: margin-left 0.4s ease-in;

    padding: 6rem 35px 0px 35px;
    @include Spinner;

    .table__container {
      &-title {
        font-family: var(--secondary-font);
        margin-bottom: 2rem;
        font-weight: 600;
      }

      &-top {
        width: 100%;
        background-color:#005C78 !important;
        border-radius: 15px 15px 0 0px;
        padding: 2rem 1rem;
        display: flex;
        justify-content: space-between;

        input {
          height: 48px;
          width: 50%;
        }
      }

      &-table {
        overflow-x: auto;
      }

      thead th {
        background-color:#006989 !important;

        font-size: 1.1rem;
        color: #fff;
        font-weight: 600;
        font-family: var(--secondary-font);
        text-align: center;
      }

      tbody td {
        text-align: center;
        background-color:  #cae1e7!important;
        font-weight: 500;
      }

      &-list-button {
        height: 48px;
        border-radius: 5px;
        font-weight: 600;
        border: none;
        outline: none;
        color: #000 !important;

        svg {
          vertical-align: middle;
          font-size: 1.5rem;
        }
      }
    }

    .createListForm {
      margin-top: 2rem;
      background-color: #fff;
      padding: 2rem;

      &__title {
        font-family: var(--secondary-font);
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
      }

      label {
        font-weight: 600;
        display: block;
      }

      textarea,
      input {
        box-shadow: none;
        outline: none;
      }

      input {
        height: 48px;
        
      }

      .primeSelect {
        width: 100%;
      }
    }
  }

  @media (max-width: 767.98px) {
    &__sidebar {
      left: -600px;
    }

    &__view {
      padding: 6rem 1rem;

      .createListForm {
        padding: 2rem 10px;
      }
    }

    &.openSidebar {
      .dashboard {
        &__sidebar {
          width: 100vw;
        }

        &__view {
          margin-left: var(--sidebarWidth);
          padding-left: 35px;
        padding-right: 35px;
        }
      }
    }
  }
}
