@import "../../styles/globals";

.carousel-caption {
  position: absolute;
  text-align: center;
  color: #fff;
  transform: translateY(100%);
  font-family: "Cinzel", serif;
  animation: slideUp 1s ease-out forwards;
  .caption-title {
    color: #561c24;
    font-weight: 1000;
    font-size: 36px;
  }
  .caption-subtitle {
    font-size: 17px;
    font-weight: 650;
    color: #fffdd0;
  }
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    .caption-title {
      font-size: 2rem;
    }

    .caption-subtitle {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    .caption-title {
      font-size: 1.5rem;
    }

    .caption-subtitle {
      font-size: 0.875rem;
    }
  }
}

.homePage {
  &__hero {
    img {
      height: 90vh;
      width: 100%;
      // object-fit: cover;
    }
  }

  &__templesList {
    // background: url("../../components/Images/bk.jpg");

    // background: url("https://thumbs.dreamstime.com/z/oriental-pink-cream-henna-temple-gate-background-traditional-red-indian-design-borders-space-text-49994249.jpg");
    background: url("../../components/Images/bk-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 2rem 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background: rgb(0, 0, 0);
      opacity: 0.4;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 3;
    }

    .title {
      font-style: normal;
      font-weight: 900;
      font-size: 2rem;
      line-height: 53px;
      font-family: var(--secondary-font);
      text-align: center;
      color: #fff;

      margin-bottom: 2rem;
    }

    section {
      &:last-child {
        margin-top: 10px;
      }

      &:last-of-type {
        .card {
          cursor: initial;
        }
      }
    }

    .card {
      @include TempleCard;

      img {
        height: 476px;
        border: 5px solid white;
      }
    }
  }

  .btnContainer {
    margin-top: 2rem;
    text-align: end;
  }
}

.hiexti {
  padding: 11px 16px 12px 16px !important;
}
.lifvqk {
  color: white !important;
}
.dZpCAZ {
  padding: 9px 52px 9px 10px !important;
}
.hvGjDQ {
  height: calc(385px - 91px) !important;
  overflow-y: scroll;
  margin-top: 2px;
  padding-top: 6px;
}
.glfuN {
  height: 44px !important;
}
.hvGjDQ.rsc-content {
  height: 294px !important;
}
.hgftJd.rsc-container {
  height: 385px !important;
}

.custom-card {
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #0003, 0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
  color: gray;
  cursor: pointer;
  font-weight: bolder;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
.custom-card:hover {
  background-color: #e9e8e8;
}
.vendorservice_card {
  // background-color: rgb(19, 30, 58);
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px #0003, 0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;
  color: gray;
  cursor: pointer;
  font-weight: bolder;
  justify-content: center;
  padding: 5px;
  text-align: center;
  span {
    color: black;
    font-size: 18px;
  }
}

.vendor_btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 7px 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

.vendor_btn:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px) scale(1.05);
}

.vendor_btn:focus,
.vendor_btn:active {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0956c0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) scale(1.03);
}
