.templeFormPage {
  min-height: 100vh;
  overflow: hidden;

  background-color: white;
  padding: 2rem;

  &__header {
    .title {
      font-family: var(--secondary-font);
      font-size: 2.3rem;
      margin-bottom: 3rem;
    }
  }

  &__container {

    overflow: hidden;

    label {
      display: block;
      font-weight: 600;
      font-size: 0.875rem;
    }

    input,
    select,
    textarea {
      outline: none !important;
      box-shadow: none !important;
      padding: 0.75rem 0.75rem;
      border: 1px solid #ced4da;
      border-radius: 6px;

      &::placeholder {
        color: #6c757d;
      }
    }

    .primeSelect {
      width: 100%;
    }

    .multiselect-demo .p-multiselect {
      min-width: 15rem;
    }

    .multiselect-demo .multiselect-custom .p-multiselect-label:not(.p-placeholder):not(.p-multiselect-items-label) {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .multiselect-demo .multiselect-custom .country-item-value {
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      margin-right: 0.5rem;
      background-color: var(--primary-color);
      color: var(--primary-color-text);
    }

    .multiselect-demo .multiselect-custom .country-item-value img.flag {
      width: 17px;
    }

    .timingsGroup {
      &__title {
        margin-bottom: 1.5rem;
        font-family: var(--secondary-font);
        font-weight: 600;
      }
    }
  }

  .btnContainer {
    margin-top: 3rem;
    text-align: end;


    display: flex;
    justify-content: end;
  }
}