.course-date .p-calendar {
    position: relative;
    display: inline-flex;
    width: 100% !important;
    margin-top: 0px !important;
    height: 40px !important;
}
 /* .course-dropdown.ant-select-multiple .ant-select-selector{
    height: 37px !important;
  } */
  .course-dropdown .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 38px !important;
    overflow-y: auto;
  }
 
  .course-language .p-dropdown{
    width: 100% !important;
    height: 40px !important;
    align-items: center !important;
  }