@import "../../styles/globals";

.templeServiePage .tmp-ser-bg {
  background-position: center;
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

@mixin headstyle {
  text-align: center;
  color: var(--dark-primary);
  font-weight: 600;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
}

.templ-ser-select-feild {
  width: 200px;
}

.TempleServiceLanding,
.Servicepage-vendor,
.templeServiePage {
  h1 {
    @include headstyle();
  }

  h3 {
    @include headstyle();
    text-align: left;
  }

  .temple-divs {
    margin-top: 3%;
    border: 1px solid var(--dark-primary);
    padding: 3%;
    border-radius: 9px;
    font-family: var(--secondary-font);
  }

  h6,
  h5 {
    font-family: var(--secondary-font);
  }

  .ad {
    @include headstyle();
    margin-top: 3%;
  }
}

.carousel-img {
  width: 800px;
  height: 640px;
}

.ventor-cards {
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 30px;
}

.card-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

-link {
  font-size: 10px;
  font-weight: 700;
  display: block;
  padding-top: 8px;
  text-align: center;
}

.card-img {
  margin-top: 30px;
  width: 70px;
}

.properties > image > src {
  display: flex;
  justify-self: center;
  align-content: center;
}

.card-img > src {
  display: flex;
  justify-content: center;
  align-items: center;
}

.properties {
  border: none;
  border-radius: 8px;
}

.properties:hover {
  background-color: #ececec;
  color: rgb(83, 82, 82);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cat-cards {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 10px;
  row-gap: 18px;
  margin-left: 100px;
}

.detail-btn {
  margin-top: 50px;
}

.ventor-title {
  position: relative;
  padding-bottom: 3px;
  cursor: pointer;
}

.ventor-title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--dark-primary);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.ventor-title:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.templ__servicess {
  .card {
    @include TempleCard;

    img {
      height: 330px;
      border-radius: 2%;
    }
  }
}

.parent {
  position: relative;
  color: #fff;
}

.content_1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1029;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sub-title {
  opacity: 0.8;
  font-size: 14px;
}

.top-right {
  float: right;
  margin-bottom: 10px;
}

.content-page {
  clear: both;
}

.search-field {
  background: none;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-field:active {
  outline: none;
}

.search-btn {
  border-radius: 10px;
  background: none;
  border: 2px solidvar(--dark-primary);
  color: #000;
}

.search-btn:hover {
  background-color: var(--dark-primary) !important;
  border: none;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.filter {
  box-sizing: border-box;
  margin: 30px 0;
  padding: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.templ-ser-select-feild {
  padding: 10px;
  width: 250px;
}

.select-feild {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background: none;
  border: 2px solidvar(--dark-primary);
  text-align: center;
  border-radius: 20px;
  height: 40px;
  width: 150px;
  margin-top: 8px;
  margin-left: 30px;
  font-weight: 800;
}

.filter-btn:hover {
  background-color: var(--dark-primary);
  border: none;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.search-btn {
  font-size: 22px;
}

.filter-card {
  width: 90%;
  margin-left: 90px;
  margin-bottom: 20px;
}

.ventor-title {
  margin-left: 70px;
}

.ventor-card {
  padding-top: 8%;
}

.breadcrumb a {
  color: #000;
}

.breadcrumb a:hover {
  color: var(--dark-primary);
}

.filter {
  margin-bottom: 50px;
  margin-left: 60px;
  max-width: 90%;
  gap: 60px;
  flex-wrap: wrap;
}

.suggest-title {
  padding-bottom: 10px;
}

.suggest-img {
  width: 100%;
  margin-bottom: 15px;
}
.vendorCardHeading {
  font-size: 14px;
  font-weight: 800;
}
.card-detail {
  box-sizing: border-box;
  background-color: #fff;
  margin: 20px 30px;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
}

.contact-btn {
  font-size: 20px;
  gap: 50px;
}

.contact {
  background-color: none;
  color: #fff !important;
}

.contact:hover {
  background-color: var(--dark-primary) !important;
  color: #fff !important;
}

.card_image {
  max-width: 500px;
}

.card-left {
  outline: 2px solid red;

  img {
    outline: 2px solid blue;
  }
}

.card_image {
  width: 34%;
  height: 300px;
}

.card-right {
  width: 40%;
}

@media (max-width: 1000px) {
  .filter {
    display: block;
  }

  .card_image {
    width: 100%;

    .card_image {
      width: 500px;
    }
  }

  .card-right {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.check-btn {
  background-color: var(--dark-primary);
  border: none;
}

.check-btn:hover {
  background-color: var(--dark-primary);
}

.contact {
  background-color: var(--dark-primary);
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dark-primary);
  color: #fff;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.accordion {
  --bs-accordion-btn-active-border: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-active-bg: none;
}

.model_footer {
  display: flex;
  flex-direction: row;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  --bs-pagination-bg: rgb(219, 219, 219);
  --bs-pagination-border-color: none;
  --bs-pagination-color: #000;
  --bs-pagination-active-border-color: none;
  --bs-pagination-hover-color: #000;
  --bs-pagination-focus-color: #ffff;
  --bs-pagination-focus-bg: var(--dark-primary);
  --bs-pagination-hover-border-color: none;
}

.flex_caegorydetails {
  display: flex;
}

// .height_check {
//   height: fit-content;
// }

.suggested_vendor {
  width: max-content;
  margin-top: 105px;
}

.centering {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
